Ex4/XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Element arrel: videojoc -->
  <xs:element name="videojoc">
    <xs:complexType>
      <xs:sequence>

        <!-- nom: text lliure -->
        <xs:element name="nom" type="xs:string"/>

        <!-- plataforma: enumeració de valors permesos -->
        <xs:element name="plataforma">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="PC"/>
              <xs:enumeration value="PlayStation"/>
              <xs:enumeration value="Switch"/>
              <xs:enumeration value="Xbox"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <!-- pegi: nombre enter -->
        <xs:element name="pegi" type="xs:integer"/>

        <!-- multijugador: booleà -->
        <xs:element name="multijugador" type="xs:boolean"/>

        <!-- genere: enumeració de valors permesos -->
        <xs:element name="genere">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="aventura"/>
              <xs:enumeration value="esports"/>
              <xs:enumeration value="estrategia"/>
              <xs:enumeration value="sandbox"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <!-- mode: opcional (minOccurs="0"), enumeració de valors permesos -->
        <xs:element name="mode" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="online"/>
              <xs:enumeration value="offline"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

      </xs:sequence>

      <!-- atribut id: obligatori -->
      <xs:attribute name="id" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

</xs:schema>